<h1>
	修改试题
{{!-- 	{{demo}} --}}
</h1>
<form method="post" name="updateform">
	<input type="hidden" name="id" value="{{testdemo._id}}"/>
	<div class="z_content">
		<span class="tixing">
			<label>题型：</label>
			<input type="radio" name="tistyle" value="单选" checked="checked">单选
			<input type="radio" name="tistyle" value="多选">多选
			{{!-- <input type="radio" name="tistyle" value="判断">判断	 --}}
		</span>
		
		{{!-- <span class="ticon"> --}}
			<br><label>试题内容：</label>
			<textarea name="content" cols="30" rows="2">{{testdemo.title}}</textarea>
		{{!-- </span> --}}
		{{!-- 选择内容 --}}
		<span class="secon">
			<br><label>答案A：</label>
			<input type="text" class="select_a" name='select_a' value='{{testdemo.optionsA}}'></input>
			<br><label>答案B：</label>
			<input type="text" class="select_b" name='select_b' value="{{testdemo.optionsB}}"></input>
			<br><label>答案C：</label>
			<input type="text" class="select_c" name='select_c' value="{{testdemo.optionsC}}"></input>
			<br><label>答案D：</label>
			<input type="text" class="select_d" name='select_d' value="{{testdemo.optionsD}}"></input>
		</span>
		
		<br><label>正确答案：</label>
		{{!-- 单选模块 --}}
		<div class="radod">
			<input class="rad" ="rad" name="danxuan" type="radio" value="A"/>A
			<input class="rad" name="danxuan" type="radio" value="B"/>B
			<input class="rad" ="rad" name="danxuan" type="radio" value="C"/>C
			<input class="rad" ="rad" name="danxuan" type="radio" value="D"/>D
		</div>
		{{!-- 判断模块 --}}
		{{!-- <div class="istrue">
			<select name="radioistrue" id="radioistrue">
				<option value="0" checked="checked">对</option>
				<option value="1">错</option>
			</select>
		</div>
			--}}
			{{!-- 多选模块 --}}
		<div class="duoselct">
			<label><input type="checkbox" name="duoxuan" value="A"/>A</label>
			<label><input type="checkbox" name="duoxuan" value="B"/>B</label>
			<label><input type="checkbox" name="duoxuan" value="C"/>C</label>
			<label><input type="checkbox" name="duoxuan" value="D"/>D</label>	
		</div>

		<br><label>分值：</label>
		<input type="text" class="scores" name='scores' value='{{testdemo.score}}'></input>
		<br><label>难易程度：</label>
		<input type="radio" name="nanyi" checked="checked" value="easy">简单
		<input type="radio" name="nanyi" value="midlle">中级
		<input type="radio" name="nanyi" value="diff">稍难
	</div>
	<input type="submit" value="submit"/>
</form>
<span style="position:absolute;top:60px;right:200px;width:200px;"><a class="returnteach" href="/teacher">返回教师端</a></span>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/teacher.js"></script>
{{!-- <script src="/javascripts/test.js"></script> --}}
